---
import {
  Code,
  Database,
  Server,
  Smartphone,
  GitBranch,
  Terminal,
  Download,
  Blocks,
} from "@lucide/astro";

type Interest = {
  icon: string;
  name: string;
};

const iconMap: Record<string, any> = {
  code: Code,
  database: Database,
  server: Server,
  smartphone: Smartphone,
  "git-branch": GitBranch,
  terminal: Terminal,
  blocks: Blocks,
};

const {
  name = "Cesar Jaramillo",
  email = "cesarjaramillormz@gmail.com",
  location = "Irapuato, Gto.",
  position = "Desarrollador Web",
  interests = [
    { icon: "code", name: "FRONTEND" },
    { icon: "server", name: "BACKEND" },
    { icon: "database", name: "SQL SERVER" },
    { icon: "smartphone", name: "RESPONSIVE" },
    { icon: "git-branch", name: "GIT" },
    { icon: "terminal", name: "DEVOPS" },
  ] as Interest[],
  cvLink = "https://drive.google.com/file/d/1OqRCNoW1xu5k751Ti461BrxVS8Kt3leX/view?usp=sharing",
} = Astro.props;
---

<section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
    <h2>Sobre Mí</h2>
    <p>
      <span>Hola, soy {name}.</span>
      Ingeniero en Tecnologías de la Información con más de 2 años de experiencia
      en desarrollo web. Me especializo en JavaScript, Angular, React, SQL Server
      y React. Actualmente trabajo en la Secretaría de Finanzas, Inversión y
      Administración del Estado de Guanajuato, donde desarrollo y doy mantenimiento
      a sistemas internos, participo
      en proyectos nuevos e implemento políticas bajo normas ISO. Comprometido con
      el aprendizaje continuo y las mejores prácticas de desarrollo.
    </p>

    <div class="fila">
      <div class="col">
        <h3>Información</h3>
        <ul>
          <li><strong>Email</strong> {email}</li>
          <li><strong>Ubicación</strong> {location}</li>
          <li><strong>Cargo</strong> <span>{position}</span></li>
        </ul>
      </div>

      <div class="col">
        <h3>Enfoque</h3>
        <div class="contenedor-intereses">
          {
            interests.map((interest: Interest) => {
              const IconComponent = iconMap[interest.icon];
              return (
                <div class="interes">
                  {IconComponent && <IconComponent size={30} />}
                  <span>{interest.name}</span>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
    <button>
      <a
        target="_blank"
        class="down"
        href={cvLink}
        aria-label={`Descargar CV de ${name}`}
      >
        Descargar CV <Download size={16} />
      </a>
      <span class="overlay"></span>
    </button>
  </div>
</section>
