---
const {
  technicalSkills = [
    { name: "JavaScript", level: 80 },
    { name: "Angular", level: 75 },
    { name: "HTML & CSS", level: 85 },
    { name: "Node.js", level: 50 },
    { name: "SQL Server", level: 70 },
    { name: "React", level: 50 },
    { name: "Astro", level: 55 },
    { name: "Git", level: 70 },
  ],
  professionalSkills = [
    { name: "Resolución de problemas", level: 85 },
    { name: "Trabajo en Equipo", level: 85 },
    { name: "Aprendizaje continuo", level: 90 },
    { name: "Implementación de normas ISO", level: 75 },
  ],
} = Astro.props;
---

<section class="skills" id="skills">
  <div class="contenido-seccion">
    <h2>Habilidades</h2>
    <div class="fila">
      <!-- Habilidades técnicas -->
      <div class="col">
        <h3>Habilidades Técnicas</h3>
        {
          technicalSkills.map((skill: { name: string; level: number }) => (
            <div class="skill" data-key={skill.name}>
              <span>{skill.name}</span>
              <div class="barra-skill">
                <div class="progreso" style={`width: ${skill.level}%`}>
                  <span>{skill.level}%</span>
                </div>
              </div>
            </div>
          ))
        }
      </div>

      <!-- Habilidades profesionales -->
      <div class="col">
        <h3>Habilidades Profesionales</h3>
        {
          professionalSkills.map((skill: { name: string; level: number }) => (
            <div class="skill" data-key={skill.name}>
              <span>{skill.name}</span>
              <div class="barra-skill">
                <div class="progreso" style={`width: ${skill.level}%`}>
                  <span>{skill.level}%</span>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
